@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.imgLogo{
    width:  45px;
    height: 45px;
    vertical-align: middle;
}

.customGroup1{
    margin: 0;
    top: 10%;
    position: relative;
}

  
  #map {
    height: 700px;
    width:  600px;
  }
  